@charset "UTF-8"
@font-face {
    font-family: 'Bonny';
    src: url(/Fuentes/Bonny-Bold.otf);
}
@font-face {
    font-family: 'Satoshi';
    src: url(/Fuentes/Satoshi-Bold.otf/);
    src: url(/Fuentes/Satoshi-Medium.otf/);
    src: url(/Fuentes/Satoshi-Light.otf);
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(/Fuentes/CabinetGrotesk-Regular.otf);
}


/*Menú*/
/*Menú*/
header{
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height:100px;
    padding-right:125px;
    padding-left:125px;
   
   
}
.menu ul{
    display: flex;
  list-style: none;
}
.menu a{  
    text-decoration: none;
    text-align: center;
    color: #272326;
    font-family: 'Cabinet Grotesk';
    font-size: 20pt;
    padding: 40px 20px;
    border-radius: 0px;
    display: block;

}
.menu a:hover{
    background-color: #272326;
    color:#EDE6DE;
    transition: all 0.5s ease;
     }
.menu li{
    float: right;
}

/*Textos*/

h1 {

    font-size: 70pt;
    font-family: 'Bonny';
    margin-bottom: 5px;
}

h2{
    font-size: 25pt;
    font-family: 'Satoshi';
    font-style: bold;
    margin-top: 0;
}
h3{
    font-size: 20pt;
    font-family: 'Satoshi';
    font-style: bold;
}
h4{
    font-size: 13pt;
    font-family: 'Satoshi';
    font-weight: medium;
}
p{
    font-size: 13pt;
    font-family: 'Satoshi';
    font-weight: lighter;
 }

/*imagene logo*/
.logo{
 max-width: 20%;
 height: auto;
 margin: 5px;
}

body{
    background-color:#8F9892;
    margin: 0;
}
/*Para titulos*/
.caja-tituloizq{
    text-align: left;
    max-width: 500px;
    color: #272326;
    margin-right: 200px;
    margin-top: 100px;
}


 /*foto doc jenny*/
 #area-contenedores {
    display: flex;
    margin-left: 200px;
    margin-right: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
  }
.container-tratamientos{
    height: fit-content; 
    margin-top: 200px;
    justify-content:right;
}
 .imagen-jenny{
    background-color: #EDE6DE;
    border-radius: 210px 210px 10px 10px;
    max-width: 480px;
    height: fit-content;
}
.imagen-jenny img{
    margin: 15px;
    max-width: 400px;
    }


 /*footer*/
 footer{
    margin: 0;
    background-color: #EDE6DE;
    display: flex;
    font-family: 'Satoshi';
    font-weight: bold;
    color:#272326;
    text-align: center;
    justify-content: center;
}
.texto-footer{
    padding: 15px;
    margin: 0 100px;
}
.container-footer{
    width: 100%;
    display: flex;
    background-color: #EDE6DE;
    color:#272326;
    justify-content: center; }
/*botones redes sociales*/
.btn-redes{
    margin-top: 20px;
    height:80px;
    width: fit-content;
    border-radius: 50%;
    background-color: #EDE6DE;
    display: flex;
}
.btn-redes img{
    margin: 7px;
    max-width: 80px;
    height: auto;}

.contenedor-botones{
    display: flex;
    gap: 50px;
}
/*valores 3 columnas*/
#valores{
    background-color: #272326;
}

.texto-va{
    padding: 15px;
    margin: 0 50px;
    text-align: center;
    max-width: 300px;
}
.texto-va img{
    width: 50px;
    height: auto;
}
.container-va{
    display: flex;
    color: #EDE6DE;
    justify-content: center; 
    padding: 50px 100px;
}

/*porque*/
#porque{
    background-color: #EDE6DE;
    display: flex;
}

.imagen-porque{
    width: 40%;
    height: auto;
    margin-left: 200px;
    margin-top:50px;
    margin-bottom:50px;
}
.imagen-porque img{
    width: 80%;
    height: auto;
    padding: 10px;
}
.texto-derecha{
    color: #272326;
    text-align: left;
    width: 50%;
    padding-left: 70px;
    padding-right: 300px;
    padding-top: 80px;
}
.btn-contactame{
    color:#EDE6DE;
    background-color: #272326;
    border-radius: 50px 50px;
    padding: 20px 70px;
    text-decoration: none;
    font-family: 'Cabinet Grotesk';
    font-weight: bold;
    font-size: 20pt;
    display: inline-block;  
    margin-top: 30px; 
}
.btn-contactame:hover{
    background-color: #8F9892;
    color:#EDE6DE
}

