@charset "UTF-8"
@font-face {
    font-family: 'Bonny';
    src: url(/Fuentes/Bonny-Bold.otf);
}
@font-face {
    font-family: 'Satoshi';
    src: url(/Fuentes/Satoshi-Bold.otf/);
    src: url(/Fuentes/Satoshi-Medium.otf/);
    src: url(/Fuentes/Satoshi-Light.otf);
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(/Fuentes/CabinetGrotesk-Regular.otf);
}


/*Menú*/
header{
    background-color: #386966;
    height: 100px;
    padding-right:125px;
    padding-left:125px;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}
.menu ul{
    margin-right: 125px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu a{  
    text-decoration: none;
    text-align: center;
    color: #EEE7DF;
    font-family: 'Cabinet Grotesk';
    font-size: 20pt;
    padding: 40px 20px;
    border-radius: 0px;
    display: block;

}
.menu a:hover{
    background-color: #EEE7DF;
    color: #386966;
     }
.menu li{
    float: right;
}

/*Textos*/

h1 {

    font-size: 70pt;
    font-family: 'Bonny';
    margin-bottom: 5px;
}

h2{
    font-size: 25pt;
    font-family: 'Satoshi';
    font-style: bold;
    margin-top: 0;
}
h3{
    font-size: 20pt;
    font-family: 'Satoshi';
    font-style: bold;
}
h4{
    font-size: 13pt;
    font-family: 'Satoshi';
    font-weight: medium;
}
p{
    font-size: 13pt;
    font-family: 'Satoshi';
    font-weight: lighter;
 }

/*imagenes p,completa*/
img{
    width: 100%;
}
.logo{
 width: 20%;
 height: auto;
}
/*body*/
body{
    background: linear-gradient(to bottom, #EEE7DF 50%, #8E9F8C 50%);
    margin: 0;
}

/*Para titulos*/
.caja-tituloderecha{
    text-align: right;
    margin: 0 125px  80px 125px ;
    color: #386966;
}
.caja-tituloderechaclaro{
    text-align: right;
    margin: 0 0px  80px 0px ;
    color: #EEE7DF; }

/*sección Bienvenidos*/

.container-quehacemos{
    margin: 30px 380px 30px 380px;
    background-color: #386966;
    border-radius: 10px;
    box-shadow:20px #000000;
    display: flex;
}
.container-que2{
    margin: 30px 380px 30px 380px;
    background-color: #8E9F8C;
    border-radius: 10px;
    box-shadow:20px #000000;
    display: flex;
}

.texto-bienvenido{
    text-align: left;
    padding: 30px 20px 30px 90px;
    width: 50%;
    color: #EEE7DF;
    
}
.img-bienvenido{
    background-color: #EEE7DF;
    border-radius: 10px;
    max-width: 250px;
    height: 245px;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-bienvenido img{
   margin: 10px;
   width: 230px;
}

/*sección consultorio*/
#consultorio{
margin-top: 100px;
padding-bottom: 0;
overflow: auto;
background: linear-gradient(to bottom, #EEE7DF 50%, #8E9F8C 50%);
}
.img-consultorio {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0;
}

.texto-consultorio {
    position: absolute;
    top: 50%;
    width:30%;
    padding-left:125px;
    color: #EEE7DF;
    text-align: left;
}

  /*sección tratamientos*/
#tratamientos{
    background-color: #8E9F8C;
    padding-left: 125px;
    padding-right: 125px;
}

.area-contenedores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

.container-tratamientos{
    max-width: 280px;
    height: fit-content; 
    margin:50px 20px;
}
.imagen-tratamiento{
    background-color: #386966;
    border-radius: 10px 160px 10px 10px;
    width: 280px;
    height: fit-content;
}
.imagen-tratamiento img{
    margin: 15px;
    width: 250px
}
.nombres-tratamientos{
    color: #EEE7DF;
    text-align: left;
    padding: 20px 0 0 0;
}
.boton-vermas{
    background-color: #D8DBD2;
    border-radius: 5px 5px 5px 50px;
    width: 280px;
    height: 60px;
    margin: 0;
    display: flex;
}
.boton-vermas img{
    margin: 0;
    image-orientation: left;
    width: 22%;
}

 /*sección tratamientos*/

 #contactame{
    padding: 0;
    margin: 0;
    display: flex;
    background-color:#D8DBD2;
 }
 .img-contact{
  width: auto;
    height: 900px;
    display: block;
    justify-content: left;
    margin: 0;
 }
 .texto-contacto{
    text-align: right;
    color: #386966;
    display: block;
    margin-right: 125px;
    margin-left: 0;
    padding-left: 60px;
 }