@charset "UTF-8"
@font-face {
    font-family: 'Bonny';
    src: url(/Fuentes/Bonny-Bold.otf);
}
@font-face {
    font-family: 'Satoshi';
    src: url(/Fuentes/Satoshi-Bold.otf/);
    src: url(/Fuentes/Satoshi-Medium.otf/);
    src: url(/Fuentes/Satoshi-Light.otf);
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(/Fuentes/CabinetGrotesk-Regular.otf);
}


/*Menú*/
header{
    background-color: #386966;
    height: 100px;
    padding-right:125px;
    padding-left:125px;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}
.menu ul{
    margin-right: 125px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu a{  
    text-decoration: none;
    text-align: center;
    color: #EEE7DF;
    font-family: 'Cabinet Grotesk';
    font-size: 20pt;
    padding: 40px 20px;
    border-radius: 0px;
    display: block;

}
.menu a:hover{
    background-color: #EEE7DF;
    color: #386966;
     }
.menu li{
    float: right;
}

/*Textos*/

h1 {

    font-size: 70pt;
    font-family: 'Bonny';
    margin-bottom: 5px;
}

h2{
    font-size: 25pt;
    font-family: 'Satoshi';
    font-style: bold;
    margin-top: 0;
}
h3{
    font-size: 20pt;
    font-family: 'Satoshi';
    font-style: bold;
}
h4{
    font-size: 13pt;
    font-family: 'Satoshi';
    font-weight: medium;
}
p{
    font-size: 13pt;
    font-family: 'Satoshi';
    font-weight: lighter;
 }

/*imagene logo*/
.logo{
 max-width: 20%;
 height: auto;
 margin: 5px;
}

body{
    margin: 0;
    background-image: url(Recurso\ 21.webp);
}
/*Para titulos*/
.caja-tituloizq{
    text-align: left;
    max-width: 500px;
    color: #386966;
    margin-right: 200px;
}


 /*foto doc jenny*/
 #area-contenedores {
    display: flex;
    margin: 20px 200px;
    padding: 0;
    width: 100%;
  }

.container-tratamientos{
    height: fit-content; 
    margin:0;
    justify-content:right;
    margin-top: 50px;
}
 .imagen-jenny{
    background-color: #386966;
    border-radius: 240px 10px 10px 10px;
    max-width: 480px;
    height: fit-content;
}
.imagen-jenny img{
    margin: 15px;
    max-width: 400px;
    }


 /*footer*/
footer{
    margin: 0;
    background-color: #386966;
    display: flex;
    font-family: 'Satoshi';
    font-weight: bold;
    color: #D8DBD2;
    text-align: center;
    justify-content: center;
}
.texto-footer{
    padding: 15px;
    margin: 0 100px;
}
.container-footer{
    width: 100%;
    display: flex;
    background-color: #386966;
    color: #D8DBD2;
    justify-content: center;
}